<div class="dashboard-bg" style="background-image: url(<%= asset_path 'aboutbackground.jpg' %>); background-size: 100% auto; height: 400px; position: relative;">
    <div class="dashboard-overlay"></div>
    <div class="container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center text-white">
          <div class="my-4">
            <br>
            <br>
            <h1><span class="accent-title text-white mt-5">ABOUT</span></h1>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container text-center">
  <div class="row">
    <div class="col-md-12 mt-5">
      <h2>Hi, I am Jacopo!</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <img src="https://media.licdn.com/dms/image/D4D03AQH4T0o5hD33eg/profile-displayphoto-shrink_800_800/0/1701928961301?e=1712793600&v=beta&t=LlmPWTjyxY_H8sS3nRK1Ywin9Mn0qp2oGdCu2SCFozY" class="img-fluid rounded-circle" width="350px" alt="Me">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-3">
      <p>Data lover, Ambitious, Dynamic, Enterprising <i class="fa-solid fa-rocket"></i></p>
      <p>I am constantly seeking improvement and ready to take on <strong>new challenges</strong></p>
      <p>If you are interested in finding out more about my background and latest activities, feel free to follow me on <%= link_to "LinkedIn", "https://www.linkedin.com/in/jacopo-riani-272842230/" %></p>
    </div>
  </div>
  </div>
  <hr>
  <div class="container ms-12">
  <div class="row">
    <div class="col-md-12 mt-3 mb-3">
      <h2>EDUCATION</h2>
      <p><strong>Web Development Bootcamp| Le Wagon 03/2024 Melbourne, Australia</strong> </p>

        <li style="margin-bottom: 10px;">Web – app implementation from scratch using: HTML, CSS, JavaScript, Ruby, SQL</li>
        <li style="margin-bottom: 10px;">Design using Figma</li>
        <li style="margin-bottom: 10px;">Hands-on lessons on diverse concepts to develop problem solving skills</li>

      <p><strong>Master of Science | Management Engineering 03/2023 University of Parma, Parma</strong> </p>
      <p>Master Thesis Title: Analysis and forecast of the demand in the supply chain: the case of Nidec Fir International S.r.l.</p>

        <li style="margin-bottom: 10px;">Demand forecasting was implemented by using seasonal models in R software, forecast accuracy through specific errors (score 5/6 points)</li>
        <li style="margin-bottom: 10px;">Development of an information system that simulated the internet page of a bus fleet through Access (VBA codes and SQL). Score 28/30</li>
        <li style="margin-bottom: 10px;">Creation of a marketing plan for the industrial marketing exam Score 28/30</li>

        <p style="margin-top: 20px;"><strong>Bachelor of Science | Management Engineering 12/2020 University of Parma, Parma</strong> </p>

      <p><strong>High School | Science 07/2017 Ulivi</strong> </p>
    </div>
    <hr>
    <div class="col-md-12 mt-3 mb-3">
    <h2>WORK EXPERIENCE</h2>
    <h5 style="margin-top: 20px;">Nidec Fir International s.r.l.  | 6 months in Casalmaggiore (CR)</h5>
        <li>Planning and analysis of the stock level</li>
        <li>Implementation and planning of KPI with a focus on tracking on time delivery, freight and stock</li>
        <li>Proactive in searching new suppliers (quotations) ensuring the continuation of the relationship with existing customers, managing the contacts in order both to obtain the best price conditions and at the same time keeping the quality level</li>
        <li>Providing feedback to our commercial and production department of the materials availability</li>

     <h5 style="margin-top: 20px;">Headbox Australia | 3 months in Richmond, Melbourne (AUS)</h5>
        <li>Analysis of our paying clients and execution of automatized visualization process through PowerBI DAX calculations and measures for advanced data modelling</li>
        <li>Mapping our clients to pinpoint which suburb lack of venues and identifying outliers, customer requests and so translating them into valuable insights</li>
        <li>Extract and analyse business data and create reports to support regional manager needs on an ongoing basis</li>
        <li>Liaising with the marketing department to ensure that every new upgrade is in line with the regional manager requests (use of HubSpot pipeline)</li>
        <li>Researching new prospects in specific area</li>
        <li>Sales training regarding the best approach to take when dealing with customers based on the personality, background, emotions and objects</li>
      </div>
      <hr>
      <div class="col-md-12 mt-3 mb-3">
      <h2>Certification/Courses</h2>
        <div class="container">
          <div class="row justify-content-center ms-5 me-5">
            <div class="col-md-3">
              <div class="card mt-3 mb-3" style="width: 12rem;">
                <%= image_tag('badge.png', class: 'card-img-top', alt: 'project Image', style: 'height: 200px; object-fit: cover;') %>
                <hr>
                <div class="card-body text-center">
                  <h5 class="card-title">Tools of Data Analysis and Visualtisation</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card mt-3 mb-3" style="width: 12rem;">
                <%= image_tag('analdata.png', class: 'card-img-top', alt: 'project Image', style: 'height: 200px; object-fit: cover;') %>
                <hr>
                <div class="card-body text-center">
                  <h5 class="card-title">Analyzing Data in Tableau</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card mt-3 mb-3" style="width: 12rem;">
                <%= image_tag('casestudy.png', class: 'card-img-top', alt: 'project Image', style: 'height: 200px; object-fit: cover;') %>
                <hr>
                <div class="card-body text-center">
                  <h5 class="card-title">Case Study: Churn rate</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card mt-3 mb-3" style="width: 12rem;">
                <%= image_tag('connectingdata.png', class: 'card-img-top', alt: 'project Image', style: 'height: 200px; object-fit: cover;') %>
                <hr>
                <div class="card-body text-center">
                  <h5 class="card-title">Connecting Data in Tableau</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center ms-5 me-5">
            <div class="col-md-3">
              <div class="card mt-3 mb-3" style="width: 12rem;">
                <%= image_tag('datamodelling.png', class: 'card-img-top', alt: 'project Image', style: 'height: 200px; object-fit: cover;') %>
                <hr>
                <div class="card-body text-center">
                  <h5 class="card-title">Data Modelling in PowerBi</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card mt-3 mb-3" style="width: 12rem;">
                <%= image_tag('datavisu.png', class: 'card-img-top', alt: 'project Image', style: 'height: 200px; object-fit: cover;') %>
                <hr>
                <div class="card-body text-center">
                  <h5 class="card-title">Data Visualisation in PowerBI</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card mt-3 mb-3" style="width: 12rem;">
                <%= image_tag('dax.png', class: 'card-img-top', alt: 'project Image', style: 'height: 200px; object-fit: cover;') %>
                <hr>
                <div class="card-body text-center">
                  <h5 class="card-title">Tools of Data Analysis and Visualtisation</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card mt-3 mb-3" style="width: 12rem;">
                <%= image_tag('exploratory.png', class: 'card-img-top', alt: 'project Image', style: 'height: 200px; object-fit: cover;') %>
                <hr>
                <div class="card-body text-center">
                  <h5 class="card-title">Tools of Data Analysis and Visualtisation</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center ms-5 me-5">
            <div class="col-md-3">
              <div class="card mt-3 mb-3" style="width: 12rem;">
                <%= image_tag('joining.png', class: 'card-img-top', alt: 'project Image', style: 'height: 200px; object-fit: cover;') %>
                <hr>
                <div class="card-body text-center">
                  <h5 class="card-title">Tools of Data Analysis and Visualtisation</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card mt-3 mb-3" style="width: 12rem;">
                <%= image_tag('Statableau.png', class: 'card-img-top', alt: 'project Image', style: 'height: 200px; object-fit: cover;') %>
                <hr>
                <div class="card-body text-center">
                  <h5 class="card-title">Tools of Data Analysis and Visualtisation</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card mt-3 mb-3" style="width: 12rem;">
                <%= image_tag('trend.png', class: 'card-img-top', alt: 'project Image', style: 'height: 200px; object-fit: cover;') %>
                <hr>
                <div class="card-body text-center">
                  <h5 class="card-title">Tools of Data Analysis and Visualtisation</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card mt-3 mb-3" style="width: 12rem;">
                <%= image_tag('Matlab.png', class: 'card-img-top', alt: 'project Image', style: 'height: 200px; object-fit: cover;') %>
                <hr>
                <div class="card-body text-center">
                  <h5 class="card-title">Tools of Data Analysis and Visualtisation</h5>
                </div>
              </div>
            </div>
          </div>
    </div>
    </div>
    </div>
</div>
