<div class="container-projects" style="background-color: #f0f0f0;">
<div class="dashboard-bg position-relative" style="background-image: url(<%= asset_path 'projback.jpg' %>); background-size: cover; background-position: center; height: 400px;">
  <div class="dashboard-overlay"></div>
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6 text-center text-white">
        <div class="my-4">
          <h1 class="mb-4"><span class="accent-title">PROJECTS</span></h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <div class="row row-cols-1 row-cols-md-2 g-3">
        <div class="col">
          <%= link_to(venue_path, class: "no-underline text-dark") do %>
            <div class="card" style="width: 100%;">
              <%= image_tag('leadfeed.png', class: 'card-img-top blur-image rounded', style: 'height: 200px; object-fit: cover; filter: blur(5px);', alt: 'Leadfeed Image') %>
              <div class="card-body" style="padding: 33px;">
                <h5 class="card-title" style="font-size: 22px;">Venues Gap Suburb</h5>
                <p class="card-text">Analysis of the venues more likely to be chosen by the bookers in the main Australian cities using PowerBi.</p>
              </div>
            </div>
          <% end %>
        </div>

        <div class="col">
          <%= link_to(thesis_path, class: "no-underline text-dark") do %>
            <div class="card" style="width: 100%;">
              <%= image_tag('thesis.png', class: 'card-img-top', style: 'height: 200px;', alt: 'Thesis Image') %>
              <div class="card-body" style="padding: 33px;">
                <h5 class="card-title" style="font-size: 22px;">Master Thesis</h5>
                <p class="card-text">Analysis and forecast of the motors demand in the Supply Chain. The forecast has been done through Arima models in R.</p>
              </div>
            </div>
          <% end %>
        </div>

        <div class="col">
          <%= link_to(tripquest_path, class: "no-underline text-dark") do %>
            <div class="card" style="width: 100%;">
              <%= image_tag('tripque.png', class: 'card-img-top', style: 'height: 200px;', alt: 'TripQuest Image') %>
              <div class="card-body" style="padding: 33px;">
                <h5 class="card-title" style="font-size: 22px;">TripQuest</h5>
                <p class="card-text">The best way to plan your trips and earn rewards!</p>
              </div>
            </div>
          <% end %>
        </div>

        <div class="col">
          <%= link_to(pokemarket_path, class: "no-underline text-dark") do %>
            <div class="card" style="width: 100%;">
              <%= image_tag('pokemarket.png', class: 'card-img-top', style: 'height: 200px;', alt: 'Pokemarket Image') %>
              <div class="card-body" style="padding: 33px;">
                <h5 class="card-title" style="font-size: 22px;">Pokemarket</h5>
                <p class="card-text">Web application using Ruby, JS, html and css.</p>
              </div>
            </div>
          <% end %>
        </div>

        <div class="col">
          <%= link_to(roadaccident_path, class: "no-underline text-dark") do %>
            <div class="card" style="width: 100%;">
              <%= image_tag('caraccident.png', class: 'card-img-top', style: 'height: 200px;', alt: 'Car accident Image') %>
              <div class="card-body" style="padding: 33px;">
                <h5 class="card-title" style="font-size: 22px;">Road Accidents (sp) in Italy</h5>
                <p class="card-text">Analysis of the road accident in Italy by using available Istat data.</p>
              </div>
            </div>
          <% end %>
        </div>

        <div class="col">
          <%= link_to("#", class: "no-underline text-dark") do %>
            <div class="card" style="width: 100%;">
              <%= image_tag('database.png', class: 'card-img-top', style: 'height: 200px;', alt: 'Database Image') %>
              <div class="card-body" style="padding: 33px;">
                <h5 class="card-title" style="font-size: 22px;">Querying a database</h5>
                <p class="card-text">Page of a bus fleet using Access and SQL, VBA.</p>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
</div>



 <!-- <div class="container-pro mt-3 ms-5">
    <div class="row justify-content-center">
      <%# @projects.each do |project_row| %>-->
<!--      <div class="row">-->
        <%# project_row.each do |project| %>
<!--        <div class="col-md-3">
          <div class="card mt-3 mb-3 mx-3" style="width: 21rem; margin-right: 2px; margin-bottom: 10px;">
            <%#= link_to project_path(project), style: "text-decoration: none; color: black;" do %>-->
            <%#= image_tag(project.image.url, class: 'card-img-top', alt: 'Project Image', style: 'height: 200px; object-fit: cover;') if project.image.attached? %>
<!--            <div class="card-body">
              <h5 class="card-title"><%#= project.title %></h5>
              <p class="card-text"><%#= project.details %></p>
            </div>
            <%# end %>-->
<!--          </div>
        </div>
      <%# end %>-->
<!--      </div>-->
      <%# end %>
<!--    </div>
  </div>
  </div>
-->
