<div class="container-projects" style="background-color: #f0f0f0;">

  <div class="dashboard-bg" style="background-image: url(<%= asset_path 'projback.jpg' %>); background-size: 100% auto; height: 350px; position: relative;">
    <div class="dashboard-overlay"></div>
    <div class="container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center text-white">
          <div class="my-4">
            <br>
            <br>
            <h1><span class="accent-title text-white mt-5">PROJECTS</span></h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-pro mt-3 ms-5">
    <div class="row justify-content-center">
      <% @projects.each_slice(2) do |projects_row| %>
      <div class="row">
        <% projects_row.each do |project| %>
        <div class="col-md-3">
          <div class="card mt-3 mb-3 mx-3" style="width: 21rem; margin-right: 2px; margin-bottom: 10px;">
            <%= link_to project_path(project), style: "text-decoration: none; color: black;" do %>
            <%= image_tag(project.image.url, class: 'card-img-top', alt: 'Project Image', style: 'height: 200px; object-fit: cover;') if project.image.attached? %>
            <div class="card-body">
              <h5 class="card-title"><%= project.title %></h5>
              <p class="card-text"><%= project.details %></p>
            </div>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
