<div id="progress-bar-container">
    <div id="progress-bar"></div>
</div>
<div class="project-details-container">
  <div class="project-details">
    <h2><%= @project.title %></h2>
    <p><%= @project.details %></p>
  </div>
</div>


  <!-- Render specific partial based on project's ID -->
  <% if @project.title == "Master Thesis" %>
  <%= render partial: "projects/thesis", locals: { project: @project } %>
  <% elsif @project.title == "Pokemarket" %>
    <%= render partial: "projects/pokemarket", locals: { project: @project } %>
  <% elsif @project.title == "Venues Suburbs Gap" %>
    <%= render partial: "projects/venue", locals: { project: @project } %>
    <% elsif @project.title == "TripQuest" %>
    <%= render partial: "projects/tripquest", locals: { project: @project } %>
  <% end %>
  <hr>
  <br>
