<div class="dashboard-bg position-relative" style="background-image: url(<%= asset_path 'projback.jpg' %>); background-size: cover; background-position: center; height: 400px;">
  <div class="dashboard-overlay"></div>
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6 text-center text-white">
        <div class="my-4">
          <h1 class="mb-4"><span class="accent-title">BOOKS</span></h1>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .search-form-control {
    background-color: black;
    color: white;
    padding: 10px; /
  }
</style>

<div class="container" style="max-width: 960px;">
<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= simple_form_for :search, url: search_books_path, method: :get, html: { class: 'form-inline', id: 'search-form' } do |f| %>
        <div class="search-form-control form-group">
          <select class="form-control mr-sm-2" name="search[book]" id="book-select">
            <option value="" selected>Select a book</option>
            <option value="ikigai">IKIGAI</option>
            <option value="nudge">THE NUDGE</option>
            <option value="ferrari">ENZO FERRARI</option>
          </select>
        </div>
        <div class="text-center mt-3">
          <%= f.button :submit, 'Search', class: 'btn btn-primary btn-sm', id: 'search-button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>




<p>In this page you can find the most important and interesting books who really helped me to be passionate about the journey I am in and how to get the most out of it! Each of these books taught me somehow the attitude and commitment you might have to pursue what you really want. Probably most of you know them but I’ve tried to summarize from my standpoint!
Worth a look!
</p>
<%= link_to(ikigai_path, class: "no-underline text-dark") do %>
  <h3 id="ikigai-title">IKIGAI</h3>
<% end %>

<style>
  #ikigai-title:hover {
    color: orange;
  }
</style>
<h4>The Japanese secret to a long and Happy Life</h4>
<p>The people of Japan believe that everyone has an ikigai – a reason to jump out of bed each morning. And according to the residents of the Japanese island of Okinawa – the world’s longest-living people – finding it is the key to a longer and more fulfilled life. Inspiring and comforting, this book will give you the life-changing tools to uncover your personal ikigai. It will show you how to leave urgency behind, find your purpose, nurture friendships and throw yourself into your passions.</p>

<%= link_to(nudge_path, class: "no-underline text-dark") do %>
<h3 id="nudge-title">THE NUDGE</h3>
<% end %>
<style>
  #nudge-title:hover {
    color: orange;
  }
</style>
<h4>Think differently!</h4>
<p>Every day we make choices—about what to buy or eat, about financial investments or our children’s health and education, even about the causes we champion or the planet itself. Unfortunately, we often choose poorly. Nudge is about how we make these choices and how we can make better ones. Using dozens of eye-opening examples and drawing on decades of behavioral science research, Nobel Prize winner Richard H. Thaler and Harvard Law School professor Cass R. Sunstein show that no choice is ever presented to us in a neutral way, and that we are all susceptible to biases that can lead us to make bad decisions. But by knowing how people think, we can use sensible “choice architecture” to nudge people toward the best decisions for ourselves, our families, and our society, without restricting our freedom of choice.</p>

<%= link_to(ferrari_path, class: "no-underline text-dark") do %>
<h3 id="ferrari-title">ENZO FERRARI</h3>
<% end %>
<style>
  #ferrari-title:hover {
    color: orange;
  }
</style>
<h4>The definitive biography of an icon</h4>
<p>This book examines lesser-known and sometimes hidden aspects of Ferrari's career from his earliest failed business ventures to his political dealings. It sheds new light on Enzo's troubled relationship with his idea of God, delves into his personal relationships, and lays bare, in fascinating detail, the internal politics of the Ferrari company and team. No matter what challenges he faced, Ferrari never lost his unwavering faith in life and in himself.

</div>
<hr>
